POSTGRESQL_PORT=5432
POSTGRESQL_DB_USER=reggie
POSTGRESQL_PASSWORD=<PG_PASS_HERE>


SECRET_KEY=<YOUR_SECRET_KEY_HERE>

DJANGO_PORT=8000
SPA_PORT=3000
FLOWER_PORT=8888

RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=mypass
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672

EXTERNAL_API_URL=<YOUR_URL_HERE>